#motion-container{
  display: flex;
  flex-direction: column;
}

#transition-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.transitionExample{
  padding: 1rem;
  height: 4rem;
  background-color: blue;
  flex-grow: 1;
  transition: background-color 500ms, height 1s;

}

#transition-example-1:hover{
  background-color: red;
  transition:1s;
  height: 2rem;
}

#transition-example-2:hover{
  background-color: rgb(116, 26, 68);
  transition:1s;
  height: 2rem;
}

#animation-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.animationExample{
  height: 8rem;
  background-color: blue;
  flex-grow: 1;
  animation: cycleColour 1s infinite;
}

@keyframes cycleColour {
  0% {
    background-color: blue;
    height: 1rem;
  }
  50% {
    background-color: greenyellow;
    transform: rotate;
  }
  
  60%{
    background-color: aqua;
  }
  100% {
  background-color: crimson;
  }
}


#animation-example-1{
  animation: cycleColour 5s infinite ease-in;
}

#animation-example-2{
  animation: cycleColour 5s infinite ease-out;
}

#animation-example-3{
  animation: cycleColour 5s infinite ease-in-out;
}

#animation-example-4{
  animation: cycleColour 5s infinite linear;
}

#animation-example-5{
  animation: cycleColour 5s infinite ease-in reverse;
}

#animation-example-6{
  animation: cycleColour 5s infinite ease-in alternate;
} 



